## Making use of Collaborative Filtering and then making recommendation on the Movies Dataset

So I am using The ALS library in Pyspark and my data is already uploaded in the bucket

### Reading the Data

In [1]:
from pyspark.sql import SparkSession

In [2]:
# Initialize Spark session
spark = SparkSession.builder \
    .appName("ALS Recommendation Example") \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/01 21:42:56 INFO SparkEnv: Registering MapOutputTracker
24/04/01 21:42:56 INFO SparkEnv: Registering BlockManagerMaster
24/04/01 21:42:56 INFO SparkEnv: Registering BlockManagerMasterHeartbeat
24/04/01 21:42:56 INFO SparkEnv: Registering OutputCommitCoordinator

In [3]:
# file from Google Cloud Storage
file_path = "gs://pysparkbucket-jm/IMDB Top 250 Movies.csv"

In [4]:
df = spark.read.csv(file_path, header=True, inferSchema=True)

In [5]:
df.show(10)

+----+--------------------+----+------+--------------------+-----------+--------+--------------------+---------+----------+--------------------+--------------------+--------------------+
|rank|                name|year|rating|               genre|certificate|run_time|             tagline|   budget|box_office|               casts|           directors|             writers|
+----+--------------------+----+------+--------------------+-----------+--------+--------------------+---------+----------+--------------------+--------------------+--------------------+
|   1|The Shawshank Red...|1994|   9.3|               Drama|          R|  2h 22m|Fear can hold you...| 25000000|  28884504|Tim Robbins,Morga...|      Frank Darabont|Stephen King,Fran...|
|   2|       The Godfather|1972|   9.2|         Crime,Drama|          R|  2h 55m|An offer you can'...|  6000000| 250341816|Marlon Brando,Al ...|Francis Ford Coppola|Mario Puzo,Franci...|
|   3|     The Dark Knight|2008|   9.0|  Action,Crime,Drama|      PG-13|  2h 32m|     Why So Serious?|185000000|1006234167|Christian Bale,He...|   Christopher Nolan|Jonathan Nolan,Ch...|
|   4|The Godfather Par...|1974|   9.0|         Crime,Drama|          R|  3h 22m|All the power on ...| 13000000|  47961919|Al Pacino,Robert ...|Francis Ford Coppola|Francis Ford Copp...|
|   5|        12 Angry Men|1957|   9.0|         Crime,Drama|   Approved|  1h 36m|Life Is In Their ...|   350000|       955|Henry Fonda,Lee J...|        Sidney Lumet|       Reginald Rose|
|   6|    Schindler's List|1993|   9.0|Biography,Drama,H...|          R|  3h 15m|Whoever saves one...| 22000000| 322161245|Liam Neeson,Ralph...|    Steven Spielberg|Thomas Keneally,S...|
|   7|The Lord of the R...|2003|   9.0|Action,Adventure,...|      PG-13|  3h 21m|The eye of the en...| 94000000|1146457748|Elijah Wood,Viggo...|       Peter Jackson|J.R.R. Tolkien,Fr...|
|   8|        Pulp Fiction|1994|   8.9|         Crime,Drama|          R|  2h 34m|Girls like me don...|  8000000| 213928762|John Travolta,Uma...|   Quentin Tarantino|Quentin Tarantino...|
|   9|The Lord of the R...|2001|   8.8|Action,Adventure,...|      PG-13|  2h 58m|The Legend Comes ...| 93000000| 898204420|Elijah Wood,Ian M...|       Peter Jackson|J.R.R. Tolkien,Fr...|
|  10|The Good, the Bad...|1966|   8.8|   Adventure,Western|   Approved|  2h 58m|They formed an al...|  1200000|  25253887|Clint Eastwood,El...|        Sergio Leone|Luciano Vincenzon...|
+----+--------------------+----+------+--------------------+-----------+--------+--------------------+---------+----------+--------------------+--------------------+--------------------+
only showing top 10 rows

### Data Preprocessing

In [6]:
# Drop irrelevant columns 
df = df.drop("tagline", "certificate", "budget", "box_office", "casts", "directors", "writers")

In [7]:
# Handle Missing Values 
df = df.dropna()

In [8]:
# Convert 'run_time' column to minutes
from pyspark.sql.functions import regexp_extract, col
hours = regexp_extract(col("run_time"), r"(\d+)h", 1).cast("int") * 60
minutes = regexp_extract(col("run_time"), r"(\d+)m", 1).cast("int")
df = df.withColumn("run_time_minutes", hours + minutes).drop("run_time")

In [9]:
df.show(10)

+----+--------------------+----+------+--------------------+----------------+
|rank|                name|year|rating|               genre|run_time_minutes|
+----+--------------------+----+------+--------------------+----------------+
|   1|The Shawshank Red...|1994|   9.3|               Drama|             142|
|   2|       The Godfather|1972|   9.2|         Crime,Drama|             175|
|   3|     The Dark Knight|2008|   9.0|  Action,Crime,Drama|             152|
|   4|The Godfather Par...|1974|   9.0|         Crime,Drama|             202|
|   5|        12 Angry Men|1957|   9.0|         Crime,Drama|              96|
|   6|    Schindler's List|1993|   9.0|Biography,Drama,H...|             195|
|   7|The Lord of the R...|2003|   9.0|Action,Adventure,...|             201|
|   8|        Pulp Fiction|1994|   8.9|         Crime,Drama|             154|
|   9|The Lord of the R...|2001|   8.8|Action,Adventure,...|             178|
|  10|The Good, the Bad...|1966|   8.8|   Adventure,Western|             178|
+----+--------------------+----+------+--------------------+----------------+
only showing top 10 rows

### Creating user item Matrix

In [10]:
# Convert 'name' and 'genre' column to numerical indices
from pyspark.ml.feature import StringIndexer

In [11]:
name_indexer = StringIndexer(inputCol="name", outputCol="user")
genre_indexer = StringIndexer(inputCol="genre", outputCol="item")

In [12]:
df = name_indexer.fit(df).transform(df)
df = genre_indexer.fit(df).transform(df)

In [13]:
# Rename columns
df = df.withColumnRenamed("rating", "rating_float")
df = df.withColumnRenamed("user", "userId")
df = df.withColumnRenamed("item", "movieId")

In [15]:
df.show(10)

+----+--------------------+----+------------+--------------------+----------------+------+-------+
|rank|                name|year|rating_float|               genre|run_time_minutes|userId|movieId|
+----+--------------------+----+------------+--------------------+----------------+------+-------+
|   1|The Shawshank Red...|1994|         9.3|               Drama|             142| 214.0|    0.0|
|   2|       The Godfather|1972|         9.2|         Crime,Drama|             175| 187.0|    1.0|
|   3|     The Dark Knight|2008|         9.0|  Action,Crime,Drama|             152| 179.0|   10.0|
|   4|The Godfather Par...|1974|         9.0|         Crime,Drama|             202| 188.0|    1.0|
|   5|        12 Angry Men|1957|         9.0|         Crime,Drama|              96|   0.0|    1.0|
|   6|    Schindler's List|1993|         9.0|Biography,Drama,H...|             195| 153.0|    3.0|
|   7|The Lord of the R...|2003|         9.0|Action,Adventure,...|             201| 206.0|    7.0|
|   8|        Pulp Fiction|1994|         8.9|         Crime,Drama|             154| 139.0|    1.0|
|   9|The Lord of the R...|2001|         8.8|Action,Adventure,...|             178| 205.0|    7.0|
|  10|The Good, the Bad...|1966|         8.8|   Adventure,Western|             178| 190.0|   62.0|
+----+--------------------+----+------------+--------------------+----------------+------+-------+
only showing top 10 rows

### Train the ALS model

In [17]:
from pyspark.ml.recommendation import ALS

In [18]:
# Initialize ALS model
als = ALS(maxIter=10, regParam=0.1, userCol="userId", itemCol="movieId", ratingCol="rating_float",
          coldStartStrategy="drop")

In [19]:
# Fit ALS model on the DataFrame
model = als.fit(df)

### Making Recommendation

In [20]:
# Make recommendations for all users
userRecs = model.recommendForAllUsers(10)

In [21]:
# Show recommendations
userRecs.show(truncate=False)

+------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|userId|recommendations                                                                                                                                                         |
+------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|0     |[{1, 8.968684}, {67, 6.996734}, {9, 5.5972605}, {102, 5.2198005}, {35, 4.873327}, {48, 4.788812}, {28, 4.6693187}, {91, 4.6376557}, {60, 4.526513}, {11, 4.4766455}]    |
|1     |[{3, 8.071824}, {49, 5.8443036}, {68, 5.091434}, {8, 4.91893}, {37, 4.815689}, {90, 4.4279466}, {94, 4.4034433}, {19, 3.9874587}, {72, 3.265158}, {87, 2.963067}]       |
|2     |[{31, 8.165876}, {41, 5.9934287}, {64, 5.5782204}, {19, 4.4019814}, {76, 3.6810553}, {94, 3.5962992}, {88, 3.4778106}, {3, 3.4736738}, {90, 3.308108}, {7, 3.1429603}]  |
|3     |[{60, 8.264636}, {35, 7.2235174}, {95, 5.4904923}, {11, 5.412106}, {91, 5.2147665}, {1, 5.111691}, {26, 5.0505095}, {67, 4.85057}, {42, 4.3365636}, {59, 4.08595}]      |
|4     |[{14, 8.370727}, {30, 5.8533306}, {27, 5.669117}, {75, 4.7095838}, {39, 4.486192}, {103, 4.4302964}, {25, 3.5137725}, {101, 3.4353476}, {7, 3.3454385}, {77, 3.3216891}]|
|5     |[{36, 8.170429}, {71, 4.832822}, {12, 4.358569}, {96, 4.315841}, {5, 4.1763334}, {87, 3.9391644}, {55, 3.920411}, {84, 3.8635275}, {49, 3.5401077}, {32, 3.4598835}]    |
|6     |[{82, 8.264635}, {93, 4.3909082}, {84, 4.3046904}, {96, 4.127871}, {18, 3.9428065}, {98, 3.80708}, {86, 3.6166615}, {92, 3.5559297}, {52, 3.4677908}, {16, 3.4070191}]  |
|7     |[{0, 8.265428}, {73, 7.0753717}, {52, 5.9356155}, {42, 5.0710545}, {78, 4.3746676}, {35, 3.939863}, {20, 3.666771}, {44, 3.5470228}, {7, 3.5060527}, {26, 3.392529}]    |
|8     |[{2, 7.972461}, {83, 5.8013988}, {38, 5.186443}, {7, 4.906531}, {79, 4.8266983}, {15, 3.940149}, {84, 3.4036107}, {64, 3.3023329}, {42, 3.0506566}, {94, 3.0473175}]    |
|9     |[{102, 8.465403}, {9, 5.8899302}, {1, 5.7665825}, {4, 5.3195057}, {103, 5.0716553}, {16, 5.03231}, {28, 4.6513753}, {99, 4.635088}, {22, 4.4905014}, {98, 4.244239}]    |
|10    |[{9, 8.372089}, {1, 4.9885077}, {91, 4.8735332}, {4, 4.8102226}, {102, 4.7516084}, {11, 4.435438}, {65, 4.4337277}, {32, 4.1674247}, {67, 3.8389955}, {61, 3.559203}]   |
|11    |[{0, 8.165845}, {73, 6.990126}, {52, 5.864102}, {42, 5.009958}, {78, 4.321961}, {35, 3.8923945}, {20, 3.6225927}, {44, 3.504288}, {7, 3.4638112}, {26, 3.3516548}]      |
|12    |[{38, 8.370491}, {2, 5.5573745}, {58, 5.068377}, {94, 4.9792476}, {42, 4.877564}, {87, 4.444926}, {15, 4.3952875}, {54, 3.9251645}, {12, 3.833689}, {50, 3.8116026}]    |
|13    |[{0, 8.365011}, {73, 7.160617}, {52, 6.0071287}, {42, 5.1321516}, {78, 4.4273744}, {35, 3.9873312}, {20, 3.7109485}, {44, 3.5897586}, {7, 3.5482943}, {26, 3.4334025}]  |
|14    |[{1, 8.470425}, {67, 6.6080265}, {9, 5.286301}, {102, 4.9298115}, {35, 4.6025863}, {48, 4.5227675}, {28, 4.409912}, {91, 4.3800077}, {60, 4.27504}, {11, 4.227943}]     |
|15    |[{17, 8.071881}, {47, 6.0246587}, {57, 5.6474667}, {46, 5.022729}, {34, 4.9834085}, {45, 3.9825244}, {86, 3.9194322}, {22, 3.8634837}, {16, 3.7618124}, {84, 3.6354985}]|
|16    |[{41, 8.268391}, {64, 5.7882}, {31, 5.5516973}, {27, 4.2162995}, {69, 3.7825327}, {58, 3.5083375}, {51, 3.382662}, {77, 3.179855}, {29, 3.1385748}, {14, 3.0156624}]    |
|17    |[{93, 8.4654045}, {24, 5.51951}, {6, 4.7149186}, {4, 4.5903745}, {11, 4.5687394}, {16, 4.43574}, {82, 4.295544}, {18, 4.224294}, {73, 4.123727}, {21, 3.963594}]        |
|18    |[{7, 8.3750725}, {20, 5.705895}, {34, 4.9170775}, {30, 4.6606836}, {88, 4.5676837}, {83, 4.4422774}, {2, 4.4412804}, {62, 3.6017916}, {79, 3.3851566}, {64, 3.2820797}] |
|19    |[{9, 8.372089}, {1, 4.9885077}, {91, 4.8735332}, {4, 4.8102226}, {102, 4.7516084}, {11, 4.435438}, {65, 4.4337277}, {32, 4.1674247}, {67, 3.8389955}, {61, 3.559203}]   |
+------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

## Here I have also added the name column so we can see what movie name the model recommends, in the last output the name was not present so there can be an issue just identifying the movie name

In [22]:
# Join recommendations with original DataFrame to get movie names
from pyspark.sql.functions import explode

In [23]:
# Explode the 'recommendations' array column
userRecs = userRecs.withColumn("recommendation", explode("recommendations"))
# Join with original DataFrame to get movie names
userRecs_with_names = userRecs.join(df.select("movieId", "name"), userRecs.recommendation.movieId == df.movieId)

In [24]:
# Select relevant columns and show the recommendations
userRecs_with_names.select("userId", "recommendation.movieId", "name", "recommendation.rating").show(truncate=False)

+------+-------+---------------------------+---------+
|userId|movieId|name                       |rating   |
+------+-------+---------------------------+---------+
|0     |1      |The 400 Blows              |8.968684 |
|0     |1      |Cool Hand Luke             |8.968684 |
|0     |1      |La haine                   |8.968684 |
|0     |1      |Casino                     |8.968684 |
|0     |1      |Taxi Driver                |8.968684 |
|0     |1      |To Kill a Mockingbird      |8.968684 |
|0     |1      |Scarface                   |8.968684 |
|0     |1      |Once Upon a Time in America|8.968684 |
|0     |1      |American History X         |8.968684 |
|0     |1      |City of God                |8.968684 |
|0     |1      |Pulp Fiction               |8.968684 |
|0     |1      |12 Angry Men               |8.968684 |
|0     |1      |The Godfather Part II      |8.968684 |
|0     |1      |The Godfather              |8.968684 |
|0     |67     |Grave of the Fireflies     |6.996734 |
|0     |9      |Mad Max: Fury Road         |5.5972605|
|0     |9      |Jurassic Park              |5.5972605|
|0     |9      |Aliens                     |5.5972605|
|0     |9      |Avengers: Infinity War     |5.5972605|
|0     |9      |Inception                  |5.5972605|
+------+-------+---------------------------+---------+
only showing top 20 rows

### Predictions

In [25]:
# Example: Make predictions for specific user-item pairs
predictions = model.transform(df)

In [26]:
predictions.show()

+----+--------------------+----+------------+--------------------+----------------+------+-------+----------+
|rank|                name|year|rating_float|               genre|run_time_minutes|userId|movieId|prediction|
+----+--------------------+----+------------+--------------------+----------------+------+-------+----------+
| 211|               Rocky|1976|         8.1|         Drama,Sport|            NULL| 148.0|   43.0|  8.070729|
| 169|             Warrior|2011|         8.2|  Action,Drama,Sport|             140| 243.0|   50.0|  8.164239|
|  17|          Goodfellas|1990|         8.7|Biography,Crime,D...|             145|  65.0|   13.0|  8.669656|
| 243|             Persona|1966|         8.1|      Drama,Thriller|              83| 133.0|   17.0|  8.071881|
|  80|Once Upon a Time ...|1984|         8.3|         Crime,Drama|             229| 126.0|    1.0|  8.271121|
| 189|In the Name of th...|1993|         8.1|Biography,Crime,D...|             133|  81.0|   13.0|   8.07175|
|  87|        High and Low|1963|         8.4| Crime,Drama,Mystery|             143|  76.0|    4.0|  8.371926|
| 233| The Grapes of Wrath|1940|         8.1|               Drama|             129| 192.0|    0.0|  8.066262|
|  72|             Amadeus|1984|         8.4|Biography,Drama,M...|             160|  12.0|   38.0|  8.370491|
| 208|The Passion of Jo...|1928|         8.2|Biography,Drama,H...|             114| 209.0|    3.0|  8.171476|
| 149|No Country for Ol...|2007|         8.2|Crime,Drama,Thriller|             122| 122.0|   12.0|  8.173218|
|  77|            The Boat|1981|         8.4|           Drama,War|            NULL| 177.0|    5.0|  8.372153|
| 157|         Raging Bull|1980|         8.2|Biography,Drama,S...|             129| 140.0|   69.0|  8.164239|
|   7|The Lord of the R...|2003|         9.0|Action,Adventure,...|             201| 206.0|    7.0|  8.973292|
| 179|    12 Years a Slave|2013|         8.1|Biography,Drama,H...|             134|   1.0|    3.0|  8.071824|
| 103|  A Clockwork Orange|1971|         8.3|        Crime,Sci-Fi|             136|   6.0|   82.0|  8.264635|
|   9|The Lord of the R...|2001|         8.8|Action,Adventure,...|             178| 205.0|    7.0|  8.773885|
|  91|2001: A Space Ody...|1968|         8.3|    Adventure,Sci-Fi|             149|   3.0|   60.0|  8.264636|
| 152|            Rashomon|1950|         8.2| Crime,Drama,Mystery|              88| 142.0|    4.0|  8.172594|
| 166|The Bridge on the...|1957|         8.2| Adventure,Drama,War|             161| 178.0|   23.0|  8.171056|
+----+--------------------+----+------------+--------------------+----------------+------+-------+----------+
only showing top 20 rows

### RMSE(root mean squared error)

In [27]:
from pyspark.ml.evaluation import RegressionEvaluator

# Evaluate the model by computing the RMSE on the test data
evaluator = RegressionEvaluator(metricName="rmse", labelCol="rating_float", predictionCol="prediction")
rmse = evaluator.evaluate(predictions)
print("Root Mean Squared Error (RMSE) = " + str(rmse))

Root Mean Squared Error (RMSE) = 0.03094736024407895

Do not forget to stop your sparkjob by writing spark.stop()